<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object Model with Page factories">
	<listeners>
		<listener class-name="com.rakesh.errorcollectors.TestListenerAdapter" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.rakesh.listeners.CustomListeners"/>
	</listeners>
	<test thread-count="5" name="Flight search test">
		<classes>
			<class name="com.rakesh.testcases.FlightSearch" />
		</classes>
	</test> <!-- Test -->
	<test name="Sign in test">
		<classes>
			<class name="com.rakesh.testcases.SignInTest"></class>
		</classes>
	</test>
</suite> <!-- Suite -->
