<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNGLearning suite">

	<listeners>
		<listener class-name="listeners.CustomListeners"></listener>
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
	</listeners>

  <test name="Login test">
    <classes>
      <class name="testCases.TestCase1"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Title verification">
    <classes>
      <class name="testCases.TestCase2"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Dependency test">
  	
  	<!--  
  	<groups>
  		<run>
  			<include name="bvt"></include>
  		</run>
  	</groups>
  	
  	-->
  
    <classes>
      <class name="testCases.TestCase3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
